/*  resume.html css styles  */
* {
  list-style-type: none;
  text-decoration: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html body {
  margin: 0;
  padding: 0;
}

.wrapper {
  position: absolute;
  top: 0;
  left: 0;
  margin: 0 auto;
  height: 75%;
  width: 90%;
  border-radius: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-shadow: 0 0 30px rgba(0, 0, 0, 0.16);
          box-shadow: 0 0 30px rgba(0, 0, 0, 0.16);
  -webkit-transform: translate(5%, calc(16%));
          transform: translate(5%, calc(16%));
}

.navigation {
  height: 100%;
  width: 20%;
  min-width: 250px;
  max-width: 300px;
  background-color: #3d3d3d;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #ffffff;
  position: relative;
  border-radius: 5px 0 0 5px;
}

.navigation a {
  margin: 0;
  padding: 5px 8px;
  color: #fff;
  opacity: .5;
}

.navigation a:hover {
  opacity: 1;
}

.navigation a:active {
  opacity: 1;
}

.navigation a p {
  margin: 0;
  width: 100%;
  font-size: 2.5em;
  font-weight: bold;
}

.navigation a:nth-child(1) {
  position: relative;
  top: -40%;
}

.navigation ul {
  margin-top: -100%;
  height: 200px;
  width: 80%;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

.navigation ul li {
  position: relative;
}

.navigation ul li a {
  font-size: 1.5em;
}

.navigation ul li:nth-child(3)::after {
  content: '';
  display: block;
  position: absolute;
  width: 30px;
  height: 1.5em;
  padding-right: 200%;
  left: 115px;
  top: 0;
  z-index: 2;
  background-color: #ffffff;
  border-radius: 3px;
  -webkit-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
          box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
}

.navigation p {
  margin-bottom: 25%;
  width: 80%;
  text-align: center;
  position: relative;
  bottom: -45%;
}

.flex {
  height: 100%;
  width: 80%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: -webkit-gradient(linear, left top, left bottom, from(#fafafa), to(#eff1f7));
  background: linear-gradient(#fafafa, #eff1f7);
  position: relative;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  border-radius: 0 5px 5px 0;
}

.content {
  margin: auto;
  height: 88%;
  width: 98%;
  background-color: #ffffff;
  border-radius: 5px;
  z-index: 3;
  -webkit-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
          box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.content .portfolio {
  margin: 0 auto;
  height: 80%;
  width: 90%;
  float: left;
  position: relative;
  overflow-x: hidden;
  overflow-y: scroll;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.content .portfolio::-webkit-scrollbar {
  width: 0px;
  background: transparent;
}

.content .portfolio .loading {
  height: 30%;
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
}

.content .portfolio .loading p {
  margin: 0;
  height: 80%;
  width: 100%;
  font-size: 10em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  opacity: .6;
}

.content .portfolio .loading h3 {
  margin: 0;
  height: 20%;
  width: 100%;
  text-align: center;
  font-size: 2em;
  opacity: 1;
}

.footer {
  height: 120px;
  width: 100%;
  background-color: #ffffff;
  position: relative;
  bottom: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer ul {
  margin: 0 auto;
  height: 70%;
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer ul li {
  margin: 0 auto;
  padding: 0;
  width: 60px;
  height: 70px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer ul li a {
  margin: 0 auto;
  padding: 0;
  display: block;
  height: 55px;
  width: 50px;
  text-align: center;
  text-decoration: none;
  color: #8F9CB1;
}

.footer ul li a i {
  margin: 0;
  padding: 0;
  display: block;
  height: 55px;
  width: 50px;
  font-size: 3em;
  border-radius: 6px;
}

.footer ul li p {
  margin: 0 auto;
  height: 20%;
  width: 100%;
  text-align: center;
}

.footer ul li:nth-child(1) a:hover {
  color: slategray;
}

.footer ul li:nth-child(2) a:hover .fa-gradient {
  background: -webkit-gradient(linear, left top, left bottom, from(#575ac4), color-stop(#ca2f76), to(#f07935));
  background: linear-gradient(#575ac4, #ca2f76, #f07935);
  background-clip: text;
  color: #ffffff;
  height: 48.5px;
  width: 48px;
  border-radius: 10px;
}

.footer ul li:nth-child(3) a:hover {
  color: #32a2ef;
}

.footer ul li:nth-child(4) a:hover {
  color: #1a78b3;
}
/*# sourceMappingURL=styles.css.map */